<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'mylibrary3/css/style.css' %}" media="screen" title="no title">
    <title>MyLibrary index page</title>
  </head>

  <body>
  <fieldset>
    <legend>MY BOOKSHELF</legend>
    <div class="one_line">
      <p><h3>Hello, {{ request.session.user_alias }}! Welcome to your Bookshelf. Here you can create a list of all the books in your personal library.
      You currently have {{ bookshelf_count }} {{ item }} in your library.</h3></p>
    </div>

    <a href="{% url 'mylibrary3:add_to_bookshelf' %}">{{ bookshelf_message }}</a>
    <a href="{% url 'mylibrary3:readinglist' %}">Add to your Reading List</a>
    <a href="{% url 'mylibrary2:index' %}">Home</a>

    <div class = "scrollbar">
      <h3><span style = "text-decoration:underline; font-weight: bold">Books on my Bookshelf:</span></h3>
      {% for book in user_bookshelf %}
        <p>{{ book.title }}</span>, by {{ book.author }}<a href="{% url 'mylibrary3:remove_mybook' mybook_id=book.id %}"><u style="text-decoration-color: #9eb8e2;"><span style="font-size: 9pt; color: #9eb8e2;">Remove</span></u></a></p>
      {% endfor %}
    </div>

  </fieldset>
  </body>
</html>
