<!DOCTYPE html>
<html>
  <head>
    <title>Travel Buddy Login and Registration</title>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'travelbuddy_one/css/style.css' %}" media="screen" title="no title">
  </head>

  <body>
      <div class = "header">
        <img src="{% static 'travelbuddy_one/images/blueplane_beige.jpg' %}" width="15%" alt="image">
        <h1> ---> Travel Buddy <--- </h1>
      </div>

  <!-- User registration -->
      <div class="wrapper">
        <div class="login_reg">

          <form class="" action="{% url 'travelbuddy_one:register' %}" method="POST">
            {% csrf_token %}

            <h2>Register</h2>
            <h3>Name: <input type="text" name="name" value=""></h3>
            <h3>Username: <input type="text" name="username" value=""></h3>
            <!-- type="password" hides the password -->
            <h3>Password: <input type="password" name="password" value=""></h3>
            <h3>Confirm Password: <input type="password" name="confirmPW" value=""></h3>
            <input type="Submit" value="Register">
            <br>
            <br>
          </form>
        </div><!-- end of registration -->


  <!-- User log-in -->
        <div class="login_reg">

          <form class="" action="{% url 'travelbuddy_one:login' %}" method="POST">
            {% csrf_token %}

            <h2>Login</h2>
            <h3>Username: <input type="text" name="username" value=""></h3>
            <h3>Password: <input type="password" name="password" value=""></h3>
            <input type="Submit" value="Login">
            <br>
            <h4>Visiting? You can create your own login, or sign in as username: Hermione, password: studymore</h4>
            <br>
          </form>
      <!-- displaying error messages -->

        </div><!--login_reg end div -->

        <br>
        <br>
        <a href="{% url 'app1:index' %}"><u style="text-decoration-color:black;">Back to Landing Page</u></a>

  <!-- displaying error messages -->
        <div class="error_messages">
          {% if messages %}
            <ul class="messages">
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div><!--login_reg end div -->

      </div><!-- wrapper end div-->
  </body>
</html>
