a{
  margin-right: 15px;
}

body{
  font-family: sans-serif;
  background-color: beige;
  font-family: sans-serif;
}

.column{
  display: inline-block;
  width: 54%
}

fieldset{
  width: 95%;
  padding-left: 15px;
  /* this centers the fieldset and its contents */
  margin: auto;
}

h2 {
  display: inline-block;
  font-size: 20pt;
  width: 80%;
}

.header{
  text-align: center;
  margin-left: 5%;
}

/* python image */
.image{
  display: inline-block;
  width: 40%;
  vertical-align: top;
  margin-top: 20px;
  margin-left: 5%;
}

/* detour images */
/* image div widths */
.left_image{
  display: inline-block;
  width: 25%;
}
.center_image{
  display: inline-block;
  width: 45%
}
.right_image{
  display: inline-block;
  width: 25%;
}
/* image placement */
.left_image img{
  margin-left: 80%;
}
.center_image img{
  margin-left: 20%;
}
.right_image img{
  margin-right: 20%;
}


legend{
  text-align: center;
  font-size: 15pt;
}

p {
  font-size: 12pt;
}

p a{
  display: inline-block;
  font-family: sans-serif;
  font-size: 16pt;
  color: blue;
}

.wrapper{
  display: block;
  width: 100%;
}
