<!DOCTYPE html>
<html>
  <head>
    <title>Quotes Login and Registration</title>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'quotes_one/css/style.css' %}" media="screen" title="no title">

  </head>
  <body>
    <!-- <h1>This is index.html in 1st app</h1> -->

<!-- User registration -->
    <div class="miniwrap">

      <h1>Add Your Favorite Quotes</h1>
      <div class="login_reg">
        <!-- <form action="/register" method="POST" id="register"> -->

          <!-- This is the python syntax used with named routes: -->
          <!-- register is a named route in apps-level urls.py -->
        <form class="" action="{% url 'quotes_one:register' %}" method="POST">
          {% csrf_token %}

          <h2>Register</h1>
          <h3>Name: <input type="text" name="name" value=""></h3>
          <h3>Alias: <input type="text" name="alias" value=""></h3>
          <h3>Email: <input type="email" name="email" value=""></h3>

          <!-- type="password" hides the password -->
          <h3>Password: <input type="password" name="password" value=""></h3>
          <h3>Confirm Password: <input type="password" name="confirmPW" value=""></h3>

          <!-- type="date" generates a datepicker -->
          <h3>Date of Birth: <input type="date" name="dob" value=""></h3>
          <input type="Submit" value="Register">
          <br>
          <br>
        </form>
      </div><!-- end of registration -->


<!-- User log-in -->
      <div class="login_reg">
        <!-- <form action="/login" method="POST"> -->
        <!-- This is the python syntax used with named routes: -->
        <!-- users is the named route for app_one in main-level urls.py -->
        <!-- register is a named route in apps-level urls.py -->
        <form class="" action="{% url 'quotes_one:login' %}" method="POST">
          {% csrf_token %}

          <h2>Login</h1>
          <h3>Email: <input type="email" name="email" value=""></h3>
          <h3>Password: <input type="password" name="password" value=""></h3>
          <input type="Submit" color="purple" value="Login">
        </form>
      </div><!--login_reg end div -->

      <h4>Visiting? You can create your own login, or sign in as hgranger@hogwarts.com, password: studymore</h4>
      <a href="{% url 'app1:index' %}">Back to Landing Page</a>

<!-- displaying error messages -->
      <div class="error_messages">
        {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div><!--error_messages end div -->

    </div><!-- miniwrap end div-->
  </body>
</html>
