a{
  font-family: sans-serif;
  margin-left: 15px;
}

body{
  background-color: beige;
}

button{
  background-color: darkblue;
  color: white;
  padding: 7px 10px 7px 10px;
  margin-left: 10px;
  border-radius: 10px;
  vertical-align: top;
}

.editbox{
    display: inline-block;
    background-color: lightblue;
    border: 1px solid black;
    width: 20%;
    height: auto;
    vertical-align: top;
    padding: 0px 0px 15px 15px;
    margin-right: 10px;
}

.editprofile{
    padding-bottom: 15px;
}

.editprofile a{
    font-family: sans-serif;
}

.footer{
  display: block;
  width: 42%;
  background-color: lightblue;
  margin-top: 10px;
  border: 1px solid black;
  padding-left: 10px;
}

.footer textarea{
    width: 85%;
}

h1, h2, h3, h4{
  font-family: sans-serif;
}

.miniwrap{
  display: block;
  width: 40%;
  height: auto;
  border: 1px solid purple;
  background-color: lightblue;
  padding: 0px 10px 15px 15px;
}

.miniwrap textarea{
    width: 85%;
}

.one_line{
  display: inline-block;
  padding-right: 9%;
}

p{
  font-family: sans-serif;
  color: darkblue;
}

/*buttons wrapped in paragraph type so they can be color-styled*/
p button{
  background-color: green;
  color: white;
  padding: 5px 5px 5px 5px;
}

table{
  /*border-collapse: collapse;*/
  width: 100%;
  text-align: center;
}

.tablewrap{
  display: block;
  width: 90%;
  height: auto;
  border: 1px solid purple;
  padding: 0px 10px 0px 10px;
}

/*zebra striping for table rows*/
tbody tr:nth-child(even){
  background-color: tan;
}
tbody tr:nth-child(odd){
  background-color: lightpink;
}

td{
  font-family: sans-serif;
}

th{
  font-family: sans-serif;
  background-color: lavender;
}

textarea{
  overflow: hidden;
}

.wrapper{
  display: block;
  width: 100%;
}
