<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'appointments1/css/style.css' %}" media="screen" title="no title">
    <title>Appointments</title>
  </head>

  <body>

    <fieldset>
    <!-- <div class="wrapper"> -->
      <div class="registration">
        <!-- <form action="/register" method="POST" id="register"> -->

          <!-- This is the python syntax used with named routes: -->
          <!-- register is a named route in apps-level urls.py -->
        <form class="" action="{% url 'appointments1:register' %}" method="POST">
          {% csrf_token %}

          <h1>Registration</h1>
          <h3>Name: <input type="text" name="name" value=""></h3>
          <h3>Alias: <input type="text" name="alias" value=""></h3>
          <h3>Email: <input type="text" name="email" value=""></h3>
          <!-- type="password" hides the password -->
          <h3>Password: <input type="password" name="password" value=""></h3>
          <h3>Confirm Password: <input type="password" name="confirmPW" value=""></h3>
          <!-- type="date" generates a datepicker -->
          <h3>Date of Birth: <input type="date" name="dob" value=""></h3>
          <input type="Submit" value="Register">
          <br>
          <br>
        </form>
      </div><!-- end of registration -->
    </fieldset>

    <fieldset>

      <div class="error_messages">
<!-- displaying error messages -->
        {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <div class="login">

        <form class="" action="{% url 'appointments1:login' %}" method="POST">
          {% csrf_token %}

          <h1>Log in</h1>
          <h3>Email: <input type="text" name="email" value=""></h3>
          <h3>Password: <input type="password" name="password" value=""></h3>
          <input type="Submit" value="Login">
          <br>
          <br>
        </form>

        <h4>Visiting? You can create your own login, or sign in as hgranger@hogwarts.com, password: studymore</h4>
        <br>
        <br>
        <a href="{% url 'app1:index' %}"><u style="text-decoration-color:purple;"><span style="color:purple">Back to Landing Page</u></a>
      </div>

    </fieldset>
    <!-- </div> wrapper end div-->
  </body>
</html>
